.xp-window {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #ece9d8;
  border: 2px solid rgb(8, 49, 217);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  border-radius: 4px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.xp-window-titlebar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    rgb(0, 88, 238) 0%,
    rgb(53, 147, 255) 4%,
    rgb(40, 142, 255) 6%,
    rgb(18, 125, 255) 8%,
    rgb(3, 111, 252) 10%,
    rgb(2, 98, 238) 14%,
    rgb(0, 87, 229) 20%,
    rgb(0, 84, 227) 24%,
    rgb(0, 85, 235) 56%,
    rgb(0, 91, 245) 66%,
    rgb(2, 106, 254) 76%,
    rgb(0, 98, 239) 86%,
    rgb(0, 82, 214) 92%,
    rgb(0, 64, 171) 94%,
    rgb(0, 48, 146) 100%
  );
  color: white;
  font-weight: bold;
  padding: 4px 8px;
  cursor: move;
  height: 24px;
  user-select: none;
  overflow: hidden;
}

.xp-window-titlebar::before,
.xp-window-titlebar::after {
  content: "";
  position: absolute;
  top: 0;
  width: 12px;
  height: 100%;
  z-index: 0;
}

.xp-window-titlebar::before {
  left: 0;
  background: linear-gradient(to right, rgb(8, 49, 217), transparent);
}

.xp-window-titlebar::after {
  right: 0;
  background: linear-gradient(to left, rgb(8, 49, 217), transparent);
}

.xp-window-title,
.xp-window-buttons {
  position: relative;
  z-index: 1;
}

.xp-window-title {
  font-size: 16px;
}

.xp-window-buttons {
  display: flex;
  gap: 1px;
}

.xp-button {
  width: 24px;
  height: 24px;
  margin-left: 2px;
  border: 1.5px solid rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: rgb(70, 70, 255) 0px -1px 2px 1px inset;
  background-image: radial-gradient(
    circle at 90% 90%,
    rgb(0, 84, 233) 0%,
    rgb(34, 99, 213) 55%,
    rgb(68, 121, 228) 70%,
    rgb(163, 187, 236) 90%,
    white 100%
  );
  font-weight: bold;
  color: white;
  cursor: pointer;
  padding: 0;
}

.xp-button:hover {
  filter: brightness(1.1);
}

.xp-button:active {
  box-shadow: inset 1px 1px 3px #555;
}

.xp-button.close {
  box-shadow: rgb(218, 70, 0) 0px -1px 2px 1px inset;
  background-image: radial-gradient(
    circle at 90% 90%,
    rgb(204, 70, 0) 0%,
    rgb(220, 101, 39) 55%,
    rgb(205, 117, 70) 70%,
    rgb(255, 204, 178) 90%,
    white 100%
  );
}

.xp-window-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.xp-resize-handle {
  position: absolute;
  width: 15px;
  height: 15px;
  bottom: 0;
  right: 0;
  background: #397ff4;
  cursor: nwse-resize;
  user-select: none;
  border-top: 2px solid #1c4da1;
  border-left: 2px solid #1c4da1;
}
